<div class="container">

    <%= link_to admin_session_path, class: 'btn btn-custom' do %>
        <%= render_svg('group') %>
        Administradores
    <% end %>

    <%= link_to user_session_path, class: 'btn btn-custom' do %>
        <%= render_svg('group') %>
        Usuários
    <% end %>

</div>