<div class="nested-field d-flex gap-2 align-items-center my-2">
    <%= field.text_field :description, class: "form-control" %>

    <div class="check-box">
        <%= field.check_box :_destroy, class: "btn-check btn-delete" %>
            <%= label_tag "question_answers_attributes_#{index}__destroy", class: "btn btn-circle btn-custom-small btn-danger" do %>
            <%= render_svg('delete') %>
            <% end %>
    </div>                                   
</div>