<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <ul class="list-unstyled">
      <% resource.errors.full_messages.each do |message| %>
        <li class="alert alert-warning py-1 px-3" role="alert"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
