// Place all the styles related to the admins_backoffice controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

:root {
    --header-height: 50px;
    --aside-menu-width: 255px;
    --main-custom-white: #f1f3f3;
    --main-custom-gray: #c9c9cc;
    --main-custom-background: #0e1420;
    --main-custom-border: #0e0410;
    --main-custom-background-hover: #212936;
    --main-custom-border-hover: #313946;
}