// Place all the styles related to the website controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 *= require_tree ../../../vendor/assets/stylesheets/.
*/

header .dropdown-item {
    display: flex;
    align-items: center;
    gap: .5rem
}

header .dropdown-item svg {
    width: 1.3rem;
    height: 1.3rem;
}