// Place all the styles related to the website controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 *= require_tree ../../../vendor/assets/stylesheets/.
*/

:root {
    --header-height: 50px;
    --aside-menu-width: 255px;
    --main-custom-white: #f1f3f3;
    --main-custom-gray: #c9c9cc;
    --main-custom-background: #0e1420;
    --main-custom-background-hover: #212936;
}

#content {
    display: grid;
    grid-template-areas: "aside-menu main-content";
    grid-template-columns: var(--aside-menu-width) 1fr;
}

#aside-menu {
    grid-area: aside-menu;
    height: 100vh;
    padding: 0;
    background-color: var(--main-custom-background);
    color: var(--main-custom-white);
}

#aside-menu > .container {
    padding: 1rem;
}

#aside-menu > .container h2 {
    font-size: 1.2rem;
    padding: .5rem 1rem 1rem;
}

#aside-menu > .container ul {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    list-style: none;
    padding: 0;
}

#aside-menu > .container h4 {
    font-size: .75rem;
    color: var(--main-custom-gray);
    padding: 0 1rem .5rem;
    margin: 0;
}

#aside-menu > .container ul li {
    display: flex;
    align-items: center;
    width: 100%;
    padding: .4rem 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: ease-in .2s background-color;
}

#aside-menu > .container ul li:hover {
    background-color: var(--main-custom-background-hover);
}

#aside-menu > .container ul li:hover a {
    color: var(--main-custom-gray);
}

#aside-menu > .container ul li:hover svg {
    fill: var(--main-custom-gray);
}

#aside-menu > .container ul li a {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: .5rem;
    color: var(--main-custom-white);
    font-size: .9rem;
    text-decoration: none;
    transition: ease-in .2s color;
}

#aside-menu > .container ul li svg {
    height: 1.6rem;
    width: 1.6rem;
    fill: var(--main-custom-white);
    transition: ease-in .2s fill;
}

#main-content {
    grid-area: main-content;
    padding: 0;
    height: 100vh;
    overflow-y: hidden;
}

#main-content > .container {
    margin: var(--header-height) 0 0;
    height: calc(100% - var(--header-height));
    overflow-y: scroll;
    padding: 1rem 3rem;
}

#nav-header {
    display: flex;
    align-items: center;
    width: calc(100% - var(--aside-menu-width));
    height: var(--header-height);
}

#nav-header .dropdown-item {
    display: flex;
    align-items: center;
    gap: .5rem
}


#nav-header .dropdown-item svg {
    width: 1.3rem;
    height: 1.3rem;
}



.btn-circle {
    border-radius: 50%;
}

/* 
GENERAL
*/

table {
    vertical-align: baseline !important;
}

table svg {
    height: 1.3rem;
    width: 1.3rem;
}

table .btn {
    width: 2rem;
    height: 2rem;
    padding: 0;
}

table .btn svg {
    fill: var(--main-custom-white);
}

a {
    text-decoration: none;
    color: var(--main-custom-background);
}

a:hover {
    color: var(--main-custom-background-hover);
    text-decoration: underline;
}