<h2>Pesquisa - Assunto</h2>

<p>Apresentando resultados para a assunto <mark><%= @subject.description %></mark></p>

<%= render partial: 'website/shared/questions' %>

<div class="mt-3 d-flex justify-content-center">
  <%= paginate @questions %>
</div>

